{
    "openapi": "3.0.0",
    "info": {
        "title": "Panensia Api Documentation",
        "description": "Panensia api documentation",
        "contact": {
            "email": "panensiaofficial@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://panensia.id/api"
        }
    ],
    "tags": [
        {
            "name": "auth",
            "description": "Authentication user"
        },
        {
            "name": "admin",
            "description": "Api for role admin"
        },
        {
            "name": "user",
            "description": "Api for role user"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "description": "Register a new user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "name",
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email to register"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "User name to register",
                                        "minLength": 3,
                                        "maxLength": 55
                                    },
                                    "phone": {
                                        "type": "string",
                                        "description": "User phone number to register",
                                        "minLength": 10,
                                        "maxLength": 13
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password to access acount",
                                        "minLength": 8
                                    }
                                },
                                "example": {
                                    "email": "andika@gmail.com",
                                    "password": "123123123",
                                    "name": "andika",
                                    "phone": "089786567661"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User register successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "description": "Access token to identify user"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "User created successfully",
                                    "data": {
                                        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiOGJjZDNlNzIwZjZjOWVhMTNhN2I0NGJlNmRlMGU4YjZhYzFjM2UzYjc5Mjg5Y2ExMmY3ZmZiNjY1MjY3NDNhNzI4MWFhYTAyNzEyMThiNTIiLCJpYXQiOjE2OTIwMTIxODIuMzIwMjksIm5iZiI6MTY5MjAxMjE4Mi4zMjAyOTYsImV4cCI6MTY5MjI3MTM4MS45NTY3NzksInN1YiI6IjQiLCJzY29wZXMiOltdfQ.J0gUST1J296_x1sj8K54Ap-MEMqLwhwPsq4UBUhq_geI-v7YbfYuuEQ_a7n8wXy6JrtQJ33yrNeBLDuOval5RX0tEn0Vk852yJm59ZNgJORWiePP_3lnfIpWhUjC2U2PNhbV4GkH8049vv-DkT3r0IVVOFdAlbFxySQp1p_jARCiPMCJz99ml3zuja4acF6FBAwqpNXwdu6l0f3Wo-xz3FYxJkQkr79LrX780t86DUN6p1okzOMolR-NbWiibv-zVM73MsF7ZsJXjEiebdu5KB91saFrqv3G7Svz2MFAWmTKZUhaSLbZDx7V40nRpjL--OgTbm8J_T64DjOpAhN62sadZgW1QET03AP9WNYTCvfNpWaXdPeGBEysLwIeK9U-YN813ZPcUlcQiHyAv5776_hV5r9iv7c_t-p2IMNg6aZ9ZRCEHjLwwOxdP3t2EaYCYPQpulpULj6fwjNCXpKdNOPjJH0VvCXt7u-c2-CaXoYvT__b_5RyHSkwM1fJhEJNFpNicvlch21krI0X4lXYZ5S6uHhKnsOz54K5s2UWeRV43mb1whkCJBbN6lfQS9qD6a9pGtbGzORV-MXjM370aGXuRA54E42pIbY8W26qDjbpGU1J4BYBxTDHfy7-BSrNaEFEiAzfqq36c9qyf9Gk1HzYG-5CBSd6ZIataptsBbo"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "description": "Login existing user",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password",
                                        "minLength": 8
                                    }
                                }
                            },
                            "example": {
                                "email": "andik@gmail.com",
                                "password": "123123123"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "User Login successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "description": "Access token to identify user"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "User created successfully",
                                    "data": {
                                        "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiOGJjZDNlNzIwZjZjOWVhMTNhN2I0NGJlNmRlMGU4YjZhYzFjM2UzYjc5Mjg5Y2ExMmY3ZmZiNjY1MjY3NDNhNzI4MWFhYTAyNzEyMThiNTIiLCJpYXQiOjE2OTIwMTIxODIuMzIwMjksIm5iZiI6MTY5MjAxMjE4Mi4zMjAyOTYsImV4cCI6MTY5MjI3MTM4MS45NTY3NzksInN1YiI6IjQiLCJzY29wZXMiOltdfQ.J0gUST1J296_x1sj8K54Ap-MEMqLwhwPsq4UBUhq_geI-v7YbfYuuEQ_a7n8wXy6JrtQJ33yrNeBLDuOval5RX0tEn0Vk852yJm59ZNgJORWiePP_3lnfIpWhUjC2U2PNhbV4GkH8049vv-DkT3r0IVVOFdAlbFxySQp1p_jARCiPMCJz99ml3zuja4acF6FBAwqpNXwdu6l0f3Wo-xz3FYxJkQkr79LrX780t86DUN6p1okzOMolR-NbWiibv-zVM73MsF7ZsJXjEiebdu5KB91saFrqv3G7Svz2MFAWmTKZUhaSLbZDx7V40nRpjL--OgTbm8J_T64DjOpAhN62sadZgW1QET03AP9WNYTCvfNpWaXdPeGBEysLwIeK9U-YN813ZPcUlcQiHyAv5776_hV5r9iv7c_t-p2IMNg6aZ9ZRCEHjLwwOxdP3t2EaYCYPQpulpULj6fwjNCXpKdNOPjJH0VvCXt7u-c2-CaXoYvT__b_5RyHSkwM1fJhEJNFpNicvlch21krI0X4lXYZ5S6uHhKnsOz54K5s2UWeRV43mb1whkCJBbN6lfQS9qD6a9pGtbGzORV-MXjM370aGXuRA54E42pIbY8W26qDjbpGU1J4BYBxTDHfy7-BSrNaEFEiAzfqq36c9qyf9Gk1HzYG-5CBSd6ZIataptsBbo"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/auth/profile": {
            "get": {
                "tags": [
                    "auth"
                ],
                "description": "User profile (All user authenticate using barer)",
                "security": [
                    {
                        "auth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User profile detail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "User ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "User name"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "description": "User email"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "description": "User email verified at"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "description": "User phone number"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "description": "User role"
                                                },
                                                "last_login": {
                                                    "type": "string",
                                                    "description": "User last login"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "description": "User created at"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "description": "User updated at"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "User profile successfully",
                                    "data": {
                                        "id": 4,
                                        "name": "andika",
                                        "email": "andik@gmail.com",
                                        "email_verified_at": null,
                                        "phone": "081123123123",
                                        "role": "user",
                                        "last_login": "2023-08-01 13:57:38",
                                        "created_at": "2023-08-14T11:23:01.000000Z",
                                        "updated_at": "2023-08-14T11:23:01.000000Z"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "auth"
                ],
                "security": [
                    {
                        "auth": []
                    }
                ],
                "description": "Edit profile for user (All user authenticarte using barer)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 55,
                                        "description": "User name"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "User email"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "minLength": 10,
                                        "maxLength": 13,
                                        "description": "User phone number"
                                    }
                                }
                            },
                            "example": {
                                "name": "andika",
                                "email": "andika@gmail.com",
                                "phone": "089767656112"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "User updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "User updated successfully"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Profile updated successfully",
                                    "data": true
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/auth/password": {
            "put": {
                "tags": [
                    "auth"
                ],
                "security": [
                    {
                        "auth": []
                    }
                ],
                "description": "Change Password for user that login (All user authenticate using barer)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "old_password",
                                    "new_password"
                                ],
                                "properties": {
                                    "old_password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "User old password"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "User new password"
                                    }
                                }
                            },
                            "example": {
                                "old_password": "123123123",
                                "new_password": "andikaandika"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "string",
                                            "description": "Password changed successfully"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Password changed successfully",
                                    "data": true
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/forget": {
            "post": {
                "tags": [
                    "auth"
                ],
                "description": "request otp for reset password",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email to register"
                                    }
                                },
                                "example": {
                                    "email": "andika@gmail.com"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Password change successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Reset password link sent to your email"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServer"
                    }
                }
            },
            "put": {
                "tags": [
                    "auth"
                ],
                "description": "change password using otp send to the email",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "otp",
                                    "new_password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email to register"
                                    },
                                    "otp": {
                                        "type": "integer",
                                        "minLength": 6,
                                        "maxLength": 6,
                                        "description": "otp code"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "description": "User new password"
                                    }
                                }
                            },
                            "example": {
                                "email": "andika@gmail.com",
                                "otp": 123123,
                                "new_password": "089767656112"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OTP Send successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Password changed successfully"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/admin/category": {
            "get": {
                "description": "Get category data (Admin user)",
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "total data in single page",
                        "schema": {
                            "type": "integer",
                            "nullable": true,
                            "default": 10
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "Filter category by name",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "pagination page",
                        "schema": {
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "description": "Category ID"
                                                    },
                                                    "name": {
                                                        " type": "string",
                                                        " description": "Category name"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "description": "Category Slug"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "description": "url to category image"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Category list",
                                    "data": [
                                        {
                                            "id": 1,
                                            "name": "123123123",
                                            "slug": "123123123",
                                            "image": null
                                        }
                                    ],
                                    "pagination": {
                                        "current_page": 1,
                                        "last_page": 1,
                                        "per_page": 10,
                                        "total": 1
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Create New Category",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Category Name"
                                    }
                                },
                                "example": {
                                    "name": "Fruit"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Category Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    " type": "string",
                                                    " description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 201,
                                    "message": "Category created successfully",
                                    "data": {
                                        "name": "fruit",
                                        "slug": "fruit",
                                        "id": 2
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/admin/category/{categoryID}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Get Category Detail",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "description": "url to category image"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Category details",
                                    "data": {
                                        "id": 1,
                                        "name": "fruita",
                                        "slug": "fruita",
                                        "image": null
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Update Category",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Category Name"
                                    }
                                },
                                "example": {
                                    "name": "Fruit"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Category Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "description": "url to category image"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 201,
                                    "message": "Category updated successfully",
                                    "data": {
                                        "name": "fruit",
                                        "slug": "fruit",
                                        "id": 2
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Delete Category",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Category deleted successfully"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/admin/category/{categoryID}/image": {
            "post": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Add image to category",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "description": "image to category (image file png,jpg,gif,svg|max:2048kb)"
                                    }
                                },
                                "example": {
                                    "name": "Fruit"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Category Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    " type": "string",
                                                    " description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 201,
                                    "message": "Category image uploaded successfully",
                                    "data": {
                                        "id": 2,
                                        "name": "fruit",
                                        "slug": "fruit",
                                        "image": "http://panensia.id/storage/images/categories/syHj47YBWKuftTMKSiTtV8IwGY9rnxXztCFamT6L.png"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/admin/category/{categoryID}/image/edit": {
            "post": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "edit category image",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "description": "image to category (image file png,jpg,gif,svg|max:2048kb)"
                                    }
                                },
                                "example": {
                                    "name": "Fruit"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Category Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    " type": "string",
                                                    " description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 201,
                                    "message": "Category image uploaded successfully",
                                    "data": {
                                        "id": 2,
                                        "name": "fruit",
                                        "slug": "fruit",
                                        "image": "http://panensia.id/storage/images/categories/syHj47YBWKuftTMKSiTtV8IwGY9rnxXztCFamT6L.png"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/admin/product": {
            "get": {
                "description": "Get product data (Admin user)",
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "total data in single page",
                        "schema": {
                            "type": "integer",
                            "nullable": true,
                            "default": 10
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "description": "Filter product by name",
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "description": "Filter product by category_id",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "pagination page",
                        "schema": {
                            "type": "integer",
                            "nullable": true,
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "code": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "description": "Product ID"
                                                    },
                                                    "name": {
                                                        " type": "string",
                                                        " description": "Product name"
                                                    },
                                                    "price": {
                                                        "type": "integer",
                                                        "description": "Product price"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "description": "url to Product image"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": [
                                        {
                                            "id": 1,
                                            "name": "banana",
                                            "image": null,
                                            "price": null
                                        }
                                    ],
                                    "pagination": {
                                        "current_page": 1,
                                        "last_page": 1,
                                        "per_page": 10,
                                        "total": 1
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                }
            },
            "post": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Create New Product",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "product name"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "product description"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "description": "category id for product"
                                    }
                                },
                                "example": {
                                    "name": "banana",
                                    "description": "Fresh banana",
                                    "category_id": 2
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Category Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Product ID"
                                                },
                                                "name": {
                                                    " type": "string",
                                                    " description": "Product name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Product Slug"
                                                },
                                                "category_id": {
                                                    "type": "string",
                                                    "description": "Product categiory id"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "description": "Product creating time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "description": "Product updating time"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 201,
                                    "message": "Product created",
                                    "data": {
                                        "name": "banana",
                                        "slug": "banana",
                                        "description": "Fresh banana",
                                        "category_id": 2,
                                        "updated_at": "2023-08-15T03:59:54.000000Z",
                                        "created_at": "2023-08-15T03:59:54.000000Z",
                                        "id": 1
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            }
        },
        "/admin/product/{productID}": {
            "get": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Get Product Detail",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Product ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "Product name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Product Slug"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "description": "Product description"
                                                },
                                                "category_name": {
                                                    "type": "string",
                                                    "description": "Product categiory id"
                                                },
                                                "images": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "description": "Image ID"
                                                            },
                                                            "product_id": {
                                                                "type": "integer",
                                                                "description": "Product ID"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "description": "url to image"
                                                            }
                                                        }
                                                    }
                                                },
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "description": "Type ID"
                                                            },
                                                            "product_id": {
                                                                "type": "integer",
                                                                "description": "Product ID"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Type name"
                                                            },
                                                            "price": {
                                                                "type": "integer",
                                                                "description": "Type price"
                                                            },
                                                            "stock": {
                                                                "type": "integer",
                                                                "description": "Type stock"
                                                            },
                                                            "weight": {
                                                                "type": "integer",
                                                                "description": "Type weight"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "id": 1,
                                        "name": "banana",
                                        "slug": "banana",
                                        "description": "Fresh banana",
                                        "category_name": "fruit",
                                        "images": [
                                            {
                                                "id": 1,
                                                "product_id": 1,
                                                "image": "http://panensia.id/storage/images/product/X0A6uglBJ9S9nAZMN34DRb8lNj9POd81eegu3d9i.png"
                                            }
                                        ],
                                        "types": [
                                            {
                                                "id": 1,
                                                "product_id": 1,
                                                "name": "banana",
                                                "price": 10000,
                                                "stock": 20,
                                                "weight": 1
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "put": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Update Category",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "product name"
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "product description"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "description": "category id for product"
                                    }
                                },
                                "example": {
                                    "name": "banana",
                                    "description": "Fresh banana",
                                    "category_id": 2
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Product Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "Category ID"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "Category name"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "description": "Category Slug"
                                                },
                                                "category_id": {
                                                    "type": "string",
                                                    "description": "Category categiory id"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "description": "Category creating time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "description": "Category updating time"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Product updated",
                                    "data": {
                                        "id": 1,
                                        "category_id": 2,
                                        "name": "Banana",
                                        "slug": "banana-1",
                                        "description": "Fresh Banana",
                                        "created_at": "2023-08-15T03:59:54.000000Z",
                                        "updated_at": "2023-08-15T07:01:52.000000Z"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntitiy"
                    }
                }
            },
            "delete": {
                "tags": [
                    "admin"
                ],
                "security": [
                    {
                        "auth_admin": []
                    }
                ],
                "description": "Delete Product",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Status request, return true if success and return false if error"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "description": "response code"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "response message"
                                        }
                                    }
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "Category deleted successfully"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "BadRequest": {
                "description": "Bad Request Erorr",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "return true if success and return false if error"
                                },
                                "code": {
                                    "type": "integer",
                                    "description": "response code"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "error message"
                                },
                                "errors": {
                                    "type": "array",
                                    "description": "list of errors",
                                    "minItems": 1,
                                    "items": {
                                        "type": "string",
                                        "description": "error message",
                                        "minLength": 1
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Unautorize Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "return true if success and return false if error"
                                },
                                "code": {
                                    "type": "integer",
                                    "description": "response code"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "error message"
                                },
                                "errors": {
                                    "type": "array",
                                    "description": "list of errors",
                                    "minItems": 1,
                                    "items": {
                                        "type": "string",
                                        "description": "error message",
                                        "minLength": 1
                                    }
                                }
                            }
                        },
                        "example": {
                            "success": false,
                            "code": 401,
                            "message": "Unauthorized",
                            "errors": [
                                "You are not authorized to access this resource"
                            ]
                        }
                    }
                }
            },
            "UnprocessableEntitiy": {
                "description": "Unprocessable Entity Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "return true if success and return false if error"
                                },
                                "code": {
                                    "type": "integer",
                                    "description": "response code"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "error message"
                                },
                                "errors": {
                                    "type": "array",
                                    "description": "list of errors",
                                    "minItems": 1,
                                    "items": {
                                        "type": "string",
                                        "description": "error message",
                                        "minLength": 1
                                    }
                                }
                            }
                        },
                        "example": {
                            "success": false,
                            "code": 422,
                            "message": "Unprocessable Entity",
                            "errors": [
                                "The name field is required.",
                                "The email field is required.",
                                "The password field is required.",
                                "The phone field is required."
                            ]
                        }
                    }
                }
            },
            "InternalServer": {
                "description": "Internal server error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "return true if success and return false if error"
                                },
                                "code": {
                                    "type": "integer",
                                    "description": "response code"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "error message"
                                }
                            }
                        },
                        "example": {
                            "success": false,
                            "code": 500,
                            "message": "Internal Server Error"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "Not Found Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "boolean",
                                    "description": "return true if success and return false if error"
                                },
                                "code": {
                                    "type": "integer",
                                    "description": "response code"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "error message"
                                },
                                "errors": {
                                    "type": "array",
                                    "description": "list of errors",
                                    "minItems": 1,
                                    "items": {
                                        "type": "string",
                                        "description": "error message",
                                        "minLength": 1
                                    }
                                }
                            }
                        },
                        "example": {
                            "success": false,
                            "code": 404,
                            "message": "Not Found",
                            "errors": [
                                "Model Not Found"
                            ]
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "auth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "name": "Authorization",
                "in": "header",
                "description": "Authentication for all user role"
            },
            "auth_admin": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "name": "Authorization",
                "in": "header",
                "description": "Authentication for admin role"
            },
            "auth_user": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "name": "Authorization",
                "in": "header",
                "description": "Authentication for user role"
            }
        }
    }
}